<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/rod.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Portfólio</title>
</head>

<body>
    
  <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/perfil.png" alt="Foto do Perfil">
            <h1>Rodrigo Michilles</h1>
            <div class="social-links mt-4 text-center">
            <a target="_blank" href="https://www.linkedin.com/in/rodrigo-michilles-072b84233/">
                <i class="bi bi-linkedin"></i>
            </a>
            <a target="_blank" href="https://github.com/DevMichilles">
                <i class="bi bi-github"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/rodrigoeros/">
                <i class="bi bi-instagram"></i>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCgJgupNQuIOOOr9FR9gO2Tw">
                <i class="bi bi-youtube"></i>
            </a>
            </div>
        </section>
        
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-heart-fill"></i> Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-file-person-fill"></i> Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark-check-fill"></i> Curriculum</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection-play-fill"></i> Portifólio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope-heart-fill"></i> Contato</a>
                  </li>
              </ul>
        </nav>
        </aside>

        <main id="main">
            <section id="inicio" class="row m-0 p-0">
                <div class="col-md-5 d-flex justify-content-center
                align-items-center flex-column">
                  <h2 class="text-white text-shadow"> Rodrigo Michilles</h2>
                  <span id="subtitle" class="text-white text-shadow">Estudante no Curso de Ciência da Computação</span>
                </div>

                <div class="col-md-7 d-flex justify-content-end align-items-end" >
                  <div id="arraste" class="d-flex align-items-center">
                      <i class="bi bi-arrow-down text-white pe-2 fs-2"
                      aria-hidden="true"></i>
                      <a href="#sobre">Arraste Para Mais</a>
                  </div>
                  
                </div>
            </section>

            <section class="container mt-5" id="sobre">
              <div class="row w-100">
                <h2 class="pt-3">Sobre</h2>
                <p>O profissional de TI propõe melhorias e novas soluções de tecnologia e processos para que a empresa utilize os melhores softwares e hardwares.

                  Isso a fim de proporcionar aos funcionários de uma determinada empresa facilidade e qualidade na execução do seu trabalho de forma segura e eficiente.
                  
                  Além disso, monitora as tecnologias de processamento de dados, auxilia na parte relacionada a uso, manutenção (preventiva e corretiva) de softwares e hardwares, como também em Segurança da Informação, Computação em Nuvem e Proteção de Dados.
                  
                  Por muito tempo esse profissional era conhecido como quem resolvia problemas técnicos dentro de uma empresa.
                  
                  Atualmente, no entanto, a sua atuação vai muito além. Munido pela evolução do mercado, os profissionais de TI podem impactar nas estratégias da empresa.</p>
              </div>
              <div class="row mt-4">
                <div class="col-md-4">
                  <img class="img-fluid shadow" src="../static/img/perfil.png" alt="Foto do Perfil">
                </div>
                <div class="col-md-8">
                  <h3>Estudante de Python</h3>
                  <p>Programação em geral, criação de aplicativos, data science , engenharia de dados,
                    conhecimento em Python, Machine Learning, Análise de dados.</p>
                    <div class="row mt-3 mb-3">
                      <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                          <li class="list-group-item">
                            Aniversário: <span class="fw-lighter">11 de Janeiro de 
                              1993</span>
                          </li>
                          <li class="list-group-item">
                            Idade:<span class="fw-lighter">29 anos.</span>
                          </li>
                          <li class="list-group-item">
                            Hobby:<span class="fw-lighter">RPG.</span>
                          </li>                         
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                          <li class="list-group-item">
                            Cidade:<span class="fw-lighter">Rio de Janeiro.</span>
                          </li>
                          <li class="list-group-item">
                            Estado:<span class="fw-lighter">Rio de Janeiro.</span>
                          </li>
                          <li class="list-group-item">
                            Experiência:<span class="fw-lighter">--</span>
                          </li>                          
                        </ul>
                      </div>
                    </div>
                    <p>
                      <p>Sed veniam tempore quo iure magni vel aperiam sunt. Et recusandae dolor est accusantium dolor et quia odit et repudiandae molestiae. </p><p>Ut odit laborum vel dolorem Quis a nisi culpa. Id dolorum iste et fugiat exercitationem ut dolor perspiciatis et aperiam sint. Nam quibusdam nihil ab facere omnis est culpa deserunt et omnis earum id ducimus repudiandae aut sint ducimus et deserunt amet. Ut consequatur aspernatur eos temporibus porro in vero galisum a quia voluptatem in sapiente fugiat. </p><p>In quibusdam voluptas est molestias dignissimos et distinctio ipsa eum quam eius aut enim error aut voluptatem quas. Aut accusamus beatae et placeat ipsam et officiis consequatur! Sed voluptas molestiae est fugiat iure aut quam enim eos fugit itaque sit totam voluptatem At officia enim At obcaecati eligendi. </p>

                    </p>



                </div>
              </div>
            </section>
        </main>



    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>

</body>
</html>